@media all and (max-width: 2560px) {
    .attribution {
        margin-top: 1300px;
    }
}

@media all and (max-width: 1440px) {
    .attribution {
        margin-top: 400px;
    }
}

@media all and (max-width: 1200px) {
    * {
        font-size: 105%;
    }

    .todo-container {
        width: 50%;
        margin-top: 45px;
    }

    .entered-task-text {
        width: 85%;
    }
}

@media all and (max-width: 1024px) {
    .bg-image img {
        height: 200px;
    }

    .entered-task-text {
        width: 78%;
    }

    .x-icon {
        right: 17px;
    }

    .attribution {
        margin-top: 250px;
    }
}

@media all and (max-width: 1000px) {
    * {
        font-size: 100%;
    }

    .todo-container {
        width: 55%;
        margin-top: 30px;
    }

    .task-list-options,
    .mobile-options {
        font-size: 120%;
    }

    .dragdrop-info {
        font-size: 120%;
    }
}

@media all and (max-width: 900px) {
    * {
        font-size: 95%;
    }

    .todo-container {
        width: 60%;
    }
}

@media all and (max-width: 768px) {
    * {
        font-size: 90%;
    }

    .todo-container {
        width: 55%;
    }

    .mobile-options {
        display: flex;
    }

    .desktop-options {
        display: none;
    }

    .header {
        margin-bottom: 20px;
    }

    .header p {
        letter-spacing: 0.6em;
    }

    .header img {
        width: 20px;
        height: 20px;
    }

    .task-input {
        margin-bottom: 16px;
        border-radius: 4px;
    }

    .task-input input[type=text] {
        padding: 16px 12px 12px 0px;
    }

    .checkbox-container {
        margin: 14px 12px 20px 0px;
    }

    .entered-task-text {
        width: 75%;
    }

    .checkmark {
        height: 18px;
        width: 18px;
    }

    .checkbox-container .checkmark:after {
        left: 6px;
        top: 3px;
        width: 2px;
        height: 6px;
    }

    .x-icon {
        width: 16px;
        height: 16px;
        right: 16px;
        display: block;
    }
}

@media all and (max-width: 550px) {
    .todo-container {
        width: 85%;
    }

    .desktop-bg {
        display: none;
    }

    .mobile-bg {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
    }
}

@media all and (max-width: 425px) {
    * {
        font-size: 95%;
    }

    .x-icon {
        width: 12px;
        height: 12px;
        right: 16px;
    }
}

@media all and (max-width: 375px) {
    * {
        font-size: 90%;
    }

    .todo-container {
        width: 85%;
    }

    .header p {
        letter-spacing: 0.4em;
    }

    .entered-task-text {
        width: 70%;
    }

}

@media all and (max-width: 320px) {
    .x-icon {
        right: 10px;
    }
}