.light-theme {
    .container {
        background-color: hsla(235, 32%, 92%, 0.493);
    }

    .task-input {
        background-color: white;
    }

    .task-input input[type=text] {
        color: hsl(235, 19%, 35%);
    }

    .task-input input::placeholder {
        color: #83848f;
    }

    .task-list-options,
    .mobile-options {
        background-color: white;
        color: hsl(236, 9%, 61%);
    }

    .clear-completed-tasks {
        &:hover {
            color: hsl(235, 19%, 35%);
        }
    }

    .entered-task-text {
        color: hsl(235, 19%, 35%);
    }

    .non-active-view-option:hover {
        color: hsl(235, 19%, 35%);
    }

    .dragdrop-info {
        color: hsl(236, 9%, 61%);
    }

    .drag-over {
        background-color: rgb(231, 231, 231);
        border-radius: 6px;
    }
}

.dark-theme {
    .container {
        background-color: #181824;
    }

    .task-input {
        background-color: #25273C;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.267);
    }

    .task-input input {
        background-color: #25273C;
        color: hsl(236deg, 33%, 92%);
    }

    .task-input input::placeholder {
        color: #696B82;
    }

    .task-list-options,
    .mobile-options {
        background-color: #25273C;
        color: #666783;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.267);
    }

    .checkmark {
        background-color: #25273C;
        border-color: #666783;
    }

    .task {
        border-bottom: 1px solid rgba(126, 126, 126, 0.329);
    }

    .entered-task-text {
        color: hsl(236deg, 33%, 92%);
    }

    .clear-completed-tasks {
        &:hover {
            color: hsl(236, 33%, 92%);
        }
    }

    .options {
        border-top: 1px solid rgba(136, 136, 136, 0.329);
    }

    .non-active-view-option:hover {
        color: hsl(236deg, 33%, 92%);
    }

    .dragdrop-info {
        color: #666783;
    }

    .attribution {
        color: #C2C4DD;
    }

    .drag-over {
        background-color: #2d2f42;
        border-radius: 6px;
    }
}